<?php

class Env {
  
const APP_NAME="Codeigniter Artisan";
const APP_URL='http://localhost:8000/';

const DB_DRIVER='mysqli';
const DB_HOST='localhost';
const DB_USER='root';
const DB_PASS='root';
const DB_NAME='ci';

const MAIL_DRIVER='smtp';
const MAIL_HOST='smtp.mailtrap.io';
const MAIL_PORT='2525';
const MAIL_USERNAME='';
const MAIL_PASSWORD='';
const MAIL_ENCRYPTION='tls';
const MAIL_FROM_ADDRESS='app@example.com';
const MAIL_FROM_NAME='Admin';

const STRIPE_SECRET_KEY='';
const STRIPE_PUBLIC_KEY='';

const JWT_ENABLE = true;
const JWT_INIVALIDATE = true;

}
